<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utils.SuitListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="chromeTest">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="headless" value="false"></parameter>
        <classes>
         <!--<class name="qa.tests.LoginPage">
            <methods>
                <include name="VerifyloginPageLoad"/>
                <include name="maskingUnmasking"/>
                <include name="VerifyIncorrectLogin"/>
                <include name="verifyRememberMeFunctionality"/>
                <include name="verifyAllLinksOnLoginPage"/>
                <include name="VerifyCorrectLogin"/>
            </methods>
           </class>-->
         	<class name="qa.tests.SignupPage">
           	<methods>
              <!--  <include name="HappySignup"/>-->
                <include name="DuplicateMerchantEmailSignup"/>
                <include name="EmptyFieldValidation"/>
                <include name="PasswordMismatch"/>
                 <include name="InvalidSignupDatasubmission"/>
                 <include name="SignupWithDeletedMerchantEmail"/>
            </methods>
            </class>
          <!--  <class name="qa.tests.ForgotPassword">
                <methods>
                    <include name="PuppyTestCasesForgotPassword"/>
                    <include name="InvalidEmail"/>
                    <include name="ValidEmail"/>
                    <include name="VerifyResetPasswordEmail"/>
                </methods>
            </class>-->

        </classes>
    </test>
</suite>